

<ul class="mainmenu">
    <li class="mainmenu__item">
        <a asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="mainmenu__item">
        <a asp-controller="Product" asp-action="Index">Shop</a>
    </li>
    <li class="mainmenu__item">
        <a asp-controller="Home" asp-action="AboutUs">About Us</a>
    </li>
    <li class="mainmenu__item">
        <a asp-controller="Home" asp-action="ContactUs">Contact Us</a>
    </li>
</ul>
