<!doctype html>
<html class="no-js" lang="zxx">
<body>
    <!-- Footer Start -->
    <footer class="footer border-top ptb--40 ptb-md--30 mt-5" >
        <div class="container">
            <div class="d-flex justify-content-between mb--40 mb-md--30">

                <div class="footer-widget">
                    <h3 class="widget-title">About Chrono Coast</h3>
                    <div class="widget-content mb--20">
                        <p>Address: Elfde-Liniestraat 24, 3500 Hasselt, België
                        <p>Phone: (+32) 488 03 86 49</p>
                        <p>Email: ChronoCoast@gmail.be</p>
                    </div>
                </div>


                <div class="footer-widget">
                    <h3 class="widget-title">Information</h3>
                    <ul class="widget-menu">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Delivery Information</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms &amp; Conditions</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>


                <div class="footer-widget">
                    <h3 class="widget-title">Opening Hours Store</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Monday to Thursday</th>
                                <td>8.30-22.00</td>
                            </tr>
                            <tr>
                                <th scope="row">Friday</th>
                                <td>8.30-17.00</td>
                            </tr>
                            <tr>
                                <th scope="row">Saturday/Sunday</th>
                                <td>closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="copyright-text">&copy; ChronoCoast 2023 Made With <i class="fa fa-heart"></i></p>
                    <img src="~/assets/img/others/payment.png" alt="payment">
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</body>
</html>
