@model Product

<div class="card mb-4 box-shadow" style="background-color:#242424">
    <div class="text-center">
        <img class="card-img-top mt-5" src="@Model.ImageUrl" alt="@Model.Name" style="width:250px; height:250px">
    </div>
    <div class="card-body text-center">
        <h4 class="card-title text-center">@Model.Name</h4>
        <p class="card-text">@Model.Description</p>
       
    </div>
</div>
