<!doctype html>
<html class="no-js" lang="zxx">

<body>
    <div class="wrapper bg--shaft">
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>


        <div class="main-content-wrapper">
            <div class="about-area bg--dark-3">
                <div class="container-fluid p-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-xl-6">
                            <div class="img-box text-center">
                                <img src="~/assets/img/contactus/contactus.jpg" alt="about">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="row" style="padding-right: 10%; padding-left: 10%">
                                <div class="col-12">
                                    <h2 class="heading-secondary border-bottom mb--30">TELL US YOUR PROBLEM</h2>
                                    <form class="form form--contact" id="contact-form" action="mail.php">
                                        <div class="row mb--20">
                                            <div class="col-md-2 text-md-right">
                                                <label for="contact_name">Your Name <sup>*</sup></label>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="text" name="contact_name" id="contact_name" class="form__input form__input--3">
                                            </div>
                                        </div>
                                        <div class="row mb--20">
                                            <div class="col-md-2 text-md-right">
                                                <label for="contact_name">Your Email <sup>*</sup></label>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="email" name="contact_email" id="contact_email" class="form__input form__input--3">
                                            </div>
                                        </div>
                                        <div class="row mb--20">
                                            <div class="col-md-2 text-md-right">
                                                <label for="contact_name">Enquiry <sup>*</sup></label>
                                            </div>
                                            <div class="col-md-10">
                                                <textarea name="contact_message" id="contact_message" class="form__input form__input--3 form__input--textarea"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <button type="submit" class="form__submit" style="border-style: solid; border-width: 1px;">
                                                    Send Email
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form__output"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <a class="scroll-to-top" href=""><i class="fa fa-angle-double-up"></i></a>
    </div>
</body>

</html>